doctype html
html
  head
    title= title
    block style
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/6710912/622986/css/fonts.css')
    script(src='/js/jquery/jquery.min.js')
    script(src='/js/layout.js')
    block script
  body
    .title.hidden chatterbox
    block header
    block content
    block footer