
*,*::before,*::after
  box-sizing border-box

.title
  text-align center
  margin-top: 60px
  top 20%
  width 100%
  font normal 200 4em 'Idlewild A', 'Idlewild B', sans-serif
  transition all 1s

.subtitle
  text-align center
  width 100%
  margin-top 5%
  font normal 200 2em 'Idlewild A', 'Idlewild B', sans-serif
  transition all 1s

.flex-outer
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  list-style none

.clicked
  transition position 1s ease-in-out
  box-shadow 0px 0px 10px 5px

.auth
  min-width 100px
  max-width 100px
  min-height 100px
  max-height 100px
  margin 50px 30px
  text-align center
  border-radius 50px
  transition all 1s ease-in-out, opacity 0.5s ease-in-out

.auth:hover
  box-shadow 0px 0px 10px 5px //lighten(#3b5998, 20)

.hidden
  opacity 0

.title.hidden
  transform translate(0px, -50px)

.subtitle.hidden
  transform translate(0px, 50px)

.auth.hidden
  margin 50px 300px

.auth.dropped
  opacity 0
  transform translate(0px, 300px)

.auth.removed
  margin 0px
  width 0px
  min-width 0px

path
  transform scale(0.5)


.chat-container
  margin 50px auto
  height 400px
  width 78%
  position relative


.chat-input
  width 910px
  display inline-block
  position relative
  float left

.chat-bottom
  position absolute
  bottom 5px
  width 100%

.chat-label
  width 30px
  position relative
  left 15px
  top 5px
  color #222
  float left
  font-size 18px

.chat-console
  position absolute
  width 100%
  max-height 100%
  bottom 32px
  overflow-y scroll
  font-family 'Triplicate', courier, monospace
  font-size 18px

.chat-line
  margin-left 15px
  margin-bottom 2px


//.auth:hover
//  transform scale(1.1)

//.facebook:hover
//  box-shadow 0px 0px 10px 5px lighten(#3b5998, 20)
//.twitter:hover
//  box-shadow 0px 0px 10px 5px lighten(#55acee, 20)
//.google:hover
//  box-shadow 0px 0px 10px 5px lighten(#dd4b39, 20)